<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/about.css">

</head>
<body>
    <div class="navbar">
      <div class="about">About</div>
        <div class="kalimat">Website untuk menemukan barang hilang adalah sebuah platform online yang dibuat untuk membantu orang mencari barang yang hilang atau kehilangan milik mereka. Situs web semacam ini dapat memfasilitasi proses pencarian dengan cara mengumpulkan informasi tentang barang yang hilang dan kemudian mempublikasikannya untuk dilihat oleh orang-orang yang mungkin memiliki informasi yang berguna atau bahkan telah menemukannya.</div>
        <div class="anggota">
            <div class="anggota-item">
              <img src="/img/gambar.png" alt="Foto Fajry" style="width: 200px;">
              <span class="anggota-nama">Fajry Ariansyah</span>
              <span class="anggota-nama">2108107010059</span>
            </div>
            <div class="anggota-item">
              <img src="/img/gambar.png" alt="Foto Devi" style="width: 200px;">
              <span class="anggota-nama">Devi Anggraini</span>
              <span class="anggota-nama">21081070100o8</span>
            </div>
            <div class="anggota-item">
              <img src="/img/gambar.png" alt="Foto Teuku" style="width: 200px;">
              <span class="anggota-nama">Teuku Rifal Aulia</span>
              <span class="anggota-nama">21081070100</span>
            </div>
            <div class="kel">Kelompok 1 | RPL</div>
          </div>
        </div>          
        </div>
        <div class="foto"></div>
        <div class="keterangan"></div>
    </div>
</body>
</html>