

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@200;300;400;700;800&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    left:0;
    top:0;
}

body{
    padding: 30px 100px;
    background-image: url(/img/outer_space_4k.jpg);
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav{
    display: flex;
    gap:20px;
    align-items: center;
}
.navbar-items-container{
    display: flex;
}

.desc{
    color: white;
}
.navbar-item{
    margin: 0 10px;
    list-style: none;
}

.navbar-item a{
    padding: 5px 15px;
    border-radius: 25px;
    text-decoration: none;
}

.navbar-item a:hover{
    color: white;
    background-color: rgb(117, 90, 90);
}

button{
    background: none;
    border: none;
}
.btn{
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    /* color: white; */
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    background-color: #53d665;
    text-decoration: none;
    color:black;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.btn.login{
background-color: #dadada;
}
.btn.login:hover{
background-color: #b4b4b4;
}

.btn.daftar{
    background-color: rgb(107, 107, 107);
    color: white;
}
.btn.daftar:hover{
    background-color: rgb(65, 65, 65);
    color: white;
}

.dropdown{
    display: none;
    position: absolute;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 1;
    flex-direction: column;
    min-width:140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(255, 245, 245);
    
}
.dropdown a{
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown a:hover{
    background-color: #ddd;
}

.show{
    display: block;

}

.wrapper{
    position: relative;

}

.content{
    margin-top: 75px;
    /* background-color: #fff; */
}

.form-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.deskripsi-input{
    font-size: 0.7rem;
}

.input_field{
    margin:15px 5px;
}

.input_field label{
    font-size: 1.2rem;
}

.input_field input{
    width: 30rem;
    font-size: 1.2rem;
    padding:5px 10px;
    border-radius: 0;
    border: solid 1px rgb(160, 160, 160);
}

#submit{
    background: #1951eb;
    border-radius: 25px ;
    border:none ;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;

}
#submit:hover{
    background: #0036c9;
}

.content-not-found, .container{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.container{
    margin: 50px 70px;
}

  .img-not-found{
    width: 400px;
    filter: drop-shadow(5px 5px 5px #222)
  }
  
  .img-found{
    max-width: 360px;
    filter: drop-shadow(5px 5px 5px #222);
    border-radius:10px;
}




/* Variable */
.aggree {
  background: #09ff00;
}
.disaggree {
  background: #af390a;
}